.logo-img{
    width:40px;
    border:1px solid red;
    border-radius: 50%;
  }

  #foot{
    background-color: #fff0f5;
      text-align: center;
      margin-top:10%;
    }

    .contact-icon{
        margin:0px;
        font-size: 30px;
      }
      
      .developed-para{
        color: #8db1ab;
      }
      #developed-by{
        font-size: 1rem;
      }
      