
body{
    background-color:#d4f3ef;
}

.signup-style{
    padding-top:10%;
}
.form-style{
   
    
    background-color: #f8f3eb;
    padding:3%;
}
#input{
 margin:5% 0 5% 0;   
}
.sign-up-h1{
    color:#5c2a9d;
}

